{% load sorl_thumbnail %}

<article>
<h3><a href="#">Generate dummy thumbnails with most popular Django thumbnail generators.</a></h3>
<h6>Written by <a href="#">Artur Barseghyan</a> on December 14, 2016.</h6>
<div class="row">
<div class="large-6 columns">
<p>There are times when you have a database of Django site and you need to quickly start it up to fix/develop,
    but then you realise that you have to have images, because either your layout is broken or, in the worst case,
    entire site is broken (500).</p>
<p>This library has been written for developers in order to avoid above mentioned
    problems in the shortest way possible, with least efforts possible.</p>
</div>
<div class="large-6 columns">
{% thumbnail 'None4' "400x240" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail" />
{% endthumbnail %}
{#<img src="http://placehold.it/400x240&text=[img]"/>#}
</div>
</div>
{% comment %}
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla
    pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short
    ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola
    short ribs minim salami nulla nostrud pastrami.</p>
{% endcomment %}
</article>