{% extends "home/base_site.html" %}
{% load i18n %}

{% load sorl_thumbnail %}

{% block main-content %}

    {% thumbnail 'None1' "640x480" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail" />
    {% endthumbnail %}

    {% thumbnail 'None2' "480x640" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail" />
    {% endthumbnail %}

    {% thumbnail 'None3' "200x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail" />
    {% endthumbnail %}

{% endblock main-content %}

{% block sidebar-content %}
{% endblock sidebar-content %}
